.grid{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.box{
    background-color: grey;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 5px;
    border: black;
    border-width: 2px;
    border-style: double;
    border-radius: 50%;

}