body {
    width: 100vw;
    height: auto;
    font-family: 'Bungee Outline', cursive;
    background-image: linear-gradient(180deg, rgba(33, 32, 156, 1), rgba(33, 32, 156, 0.7));
    color: #fdb827;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 3rem;
}
button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 0, 110);
    color: #fdb827;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameTitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 0;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.grid{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.box{
    
    width: 150px;
    height: 150px;
    padding: 0px;
    margin: 5px;

    border-radius: 50%;

}
#box-1, #box-2, #box-3, #box-4, #box-5, #box-6, #box-7, #box-8, #box-9, #box-10, #box-11, #box-12, #box-13, #box-14, #box-15, #box-16 {
    background-image: url("images/home.jpg");
    background-size: cover;
}

@media (max-width: 500px){
    html {
        overflow: hidden;
    }
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
    }
    .game {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gameTitle h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin: 0;
    }
    .score{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .grid{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .box{
        
        width: 80px;
        height: 80px;
        padding: 0px;
        margin: 5px;
    
        border-radius: 50%;
    
    }
}